<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido {{ title }}!
  </h1>
  
</div>

<div [ngStyle]="{
			'background': config.fondo,
			'border': '5px solid black',
			'border-color': config.color,
			'margin': '5px',
			'padding': '5px'
				}">
	


<p> 
{{ descripcion }}
</p>

<nav>
	<a [routerLink]="['/home']" [routerLinkActive]="['active']"> Home </a>
	&nbsp;
	<a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']"> Zapatillas </a>
	&nbsp;
	<a [routerLink]="['/videojuego']" [routerLinkActive]="['active']"> VideoJuego </a>
	&nbsp;
	<a [routerLink]="['/cursos']" [routerLinkActive]="['active']"> Curso </a>
</nav>

<hr>
<!--
<button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">
  Ocultar Videojuegos
</button>

<button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">
  Mostrar Videojuegos
</button>

<videojuego *ngIf="mostrar_videojuegos"></videojuego>

<zapatillas></zapatillas>

<cursos></cursos>  -->

<!--<zapatillas></zapatillas> -->

<router-outlet></router-outlet>

</div>
