<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido {{ title }}!
  </h1>
  
</div>

<p [ngStyle]="{
			'background': config.fondo,
			'border': '5px solid black',
			'border-color': config.color
				}">
{{ descripcion }}
</p>

<!--
<button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">
  Ocultar Videojuegos
</button>

<button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">
  Mostrar Videojuegos
</button>

<videojuego *ngIf="mostrar_videojuegos"></videojuego>

<zapatillas></zapatillas>

<cursos></cursos>  -->

<zapatillas></zapatillas>
