<h2>Crear Usuario</h2>

<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)" >

	<p>
		<label for="name">Nombre:</label>
		<input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required />

		<span *ngIf="name.touched && !name.valid">
			El nombre no es valido
		</span>
	</p>

	<p>
		<label for="job">Trabajo:</label>
		<input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required />

		<span *ngIf="job.touched && !job.valid">
			El Campo trabajo no es valido
		</span>
	</p>
	
	<input type="submit" value="Guardar Usuario" [disabled]="!newUser.form.valid" />
	

</form> 

<div *ngIf="usuario_guardado">
	<h2>Usuario guardado : </h2>
	<h3>{{ usuario_guardado.name }}</h3>
	<h4>{{ usuario_guardado.job }} </h4>
	
</div>


<hr>



{{ fecha | date:'dd/MM/yyyy' }}
<br/>
{{ fecha | date:'fullDate' | uppercase }} <br/>

{{ 'HOLA MUNDO USANDO PIPES' | lowercase }} <br/>

{{ 4 | calculadora : 2}}

<hr>

<input type="text" [(ngModel)]="userId" (keyUp.enter)="cargaUsuario()" />

<div *ngIf="!user">
	Cargando...
</div>


<div *ngIf= "user">

	<img src="{{ user.avatar }}" alt="imagen" height="150" width="150"> 
	 
	<h3> Nombre : {{ user.first_name + ' ' + user.last_name}} </h3>	
</div>

<hr>
